#Section02 {
  background: url("/src/home/medias/backgrounds/pexels-tima.png") -46.268px 0px /
    120.936% 100% no-repeat;
  background-size: cover;
}

#section03 {
  background: url("/src/home/medias/backgrounds/wallpaperflare.png"),
    lightgray 50% no-repeat;
  background-size: cover;
}


@media (max-width: 768px) {
  #ferrari {
    height: 380px; 
  }
}
