@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.paused-border::before {
    content: "";
    position: absolute;
    top: -32px;
    left: -32px;
    right: -32px;
    bottom: -32px;
    border: 12px solid transparent;
    border-radius: 22px;
    background: linear-gradient(90deg, #f1a500, #fffbf7, #008df1, #ff5e00);
    background-size: 300px 300px;
    animation: spin 4s linear infinite;
    z-index: -1;
}

.live-border {
    position: absolute;
    top: -32px;
    left: -32px;
    right: -32px;
    bottom: -32px;
    border: 12px solid transparent;
    border-radius: 22px;
    background: linear-gradient(90deg, #f10000, #fffbf7, #f10000, #ff0000);
    background-size: 300px 300px;
    animation: spin 4s linear infinite;
}

.finished-border{
    position: absolute;
    top: -32px;
    left: -32px;
    right: -32px;
    bottom: -32px;
    border: 12px solid transparent;
    border-radius: 22px;
    background: linear-gradient(90deg, #85fb9a, #00b722, #005f2b, #2dfa53);
    background-size: 300px 300px;
    animation: spin 12s linear infinite;
}